$bg-color-red: red;

$text-color-black: black;
$text-color-white: white;

$type-dark-color: rgb(4, 7, 6);
$type-bug-color:rgb(59, 153, 80);
$type-dragon-color:rgb(84, 158, 169);
$type-electric-color:rgb(251, 251, 114);
$type-fairy-color:rgb(234, 19, 105);
$type-fighting-color:rgb(239, 97, 56);
$type-fire-color:rgb(253, 76, 90);
$type-flying-color:rgb(147, 178, 199);
$type-ghost-color:rgb(144, 103, 144);
$type-grass-color:rgb(39, 203, 79);
$type-ground-color:rgb(110, 73, 31);
$type-ice-color:rgb(216, 239, 251);
$type-normal-color:rgb(202, 152, 167);
$type-poison-color:rgb(155, 105, 217);
$type-psychic-color:rgb(248, 28, 145);
$type-rock-color:rgb(139, 62, 33);
$type-steel-color:rgb(66, 189, 148);
$type-water-color:rgb(134, 168, 252);

html, body, #root {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font: 14px "Century Gothic", Futura, sans-serif;
    width: 100%;
  }
  
  .principal {
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
  
  #fichaPokemon {
    
    position: fixed;
    margin: 0 auto;
    width: 50%;
    left: 25%;
    bottom: 0;
  }

  .cerrarFicha {
    width:26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    top: 5%;
    right: 10%;
    cursor:pointer;
  }
  

  header {
    width: 100%;
    height: 15%;
    background-color: $bg-color-red;
  
    img {
      display: block;
      margin: auto;
    }
  }
  
  nav {
    width: 100%;
    height: 20px;
  }
  
  .busqueda {
    display: block;
    margin: auto;
    margin-top: 1%;
    border-radius: 20px;
    border: 2px double #cccccc;
    padding: 1px;
    text-align: center;
  }
  
  #pokemons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-top: 2%;
    width: 100%;
    // background-color: rgb(90, 83, 83, 0.8);
    background-color: white;
  }
  
  .cargando {
    text-align: center;
  }
  
  .pokemon {
    display: block;
    margin: 5% auto;
    background-color: rgba(0,0,0, 0.9);
    width: 90%;
    border-radius: 50px;
    border: 2px solid white;
    text-align: center;
  }
  
  .tipos, .habilidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  p {
    color: $text-color-white;
  }
  
  .nombre, .peso {
    background: $bg-color-red;
    border: 2px solid white;
    color: $text-color-white;
    width: 40%;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 2px;
  }
  
  .habilidad {
    background: $bg-color-red;
    border: 2px solid white;
    color: $text-color-white;
    padding: 2%;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 2px;
    width: 70%;
    justify-self: center;
    align-self: center;
  }
  
  .tipo {
    background-image: none;
    border: 2px solid white;
    color: $text-color-white;
    width: 70%;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 2px;

    justify-self: center;
    align-self: center;
  }
  
  .bug {
    background-color: $type-bug-color;
  }
  
  .dark {
    background-color: $type-dark-color;
  }
  
  .dragon {
    background-color: $type-dragon-color;
  }
  
  .electric {
    background-color: $type-electric-color;
    color: $text-color-black;
  }
  
  .fairy {
    background-color: $type-fairy-color;
  }
  
  .fighting {
    background-color: $type-fighting-color;
  }
  
  .fire {
    background: $type-fire-color;
  }
  
  .flying {
    background-color: $type-flying-color;
    color: $text-color-black;
  }
  
  .ghost {
    background-color: $type-ghost-color;
  }
  
  .grass {
    background-color: $type-grass-color
  }
  
  .ground {
    background-color: $type-ground-color;
  }
  
  .ice {
    background-color: $type-ice-color;
    color: $text-color-black;
  }
  
  .normal {
    background-color: $type-normal-color;
  }
  
  .poison {
    background-color: $type-poison-color;
  }
  
  .psychic {
    background-color: $type-psychic-color;
  }
  
  .rock {
    background-color: $type-rock-color;
  }
  
  .steel {
    background-color: $type-steel-color;
  }
  
  .water {
    background-color: $type-water-color;
  }
  
  .ventanaPokemon {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: absolute;
    width: 50%;
    background-color: $bg-color-red;
  }
  
  footer {
    width: 100%;

    background-color: black;
    color: $text-color-white;
    bottom: 0;
  }